@charset "UTF-8";
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #dfe7c6;
    color: #333;
    line-height: 1.6;
    
  }
  header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white
  }
   
  header h1 {
 margin-right: auto;
    font-size: 3rem;
    font-family:  "Gravitas One", serif;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px;
      }

    
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
    font-family: "Gravitas One", serif;
        font-weight: 400;
        font-style: normal;
      }
      .menu-item:hover{
        opacity: 0.5;
       }
      a{
        color:black;
        text-decoration-line: none;
      }
     
      
      h2{
      text-align: center;
        font-family: "Megrim", system-ui;
        font-size: 130px;
       font-weight: 800;
        }
        .poster-area p{
          /* right: 40px; */
          font-size: 80px;
          font-weight: 30;
          color: #2d3436;
          margin-left: 150px;
          font-family: "Saira", sans-serif;
          
        }
        .poster-area1 {
          display: flex;
        justify-content: space-around;
       
        }
     .poster-area1 img{
      width: 500px;
     }
     .poster-area2{
      display: flex;
      justify-content: space-around;
      margin-top: 200px;
    
     }
     .poster-area2 img{
      width: 500px;
     }
     .poster-area3{
      display: flex;
      justify-content: space-around;
      margin-top: 200px;
    
     }
     .poster-area3 img{
      width: 500px;
     }
     .poster-area4{
      display: flex;
      justify-content: space-around;
      margin-top: 200px;
     align-items: flex-start;
     }
     .poster-area4 img{
      width: 500px;
     }
     .Illustration-area p{
      font-size: 80px;
      font-weight: 30;
      color: #2d3436;
      margin-left: 150px;
      margin-top: 200px;
      font-family: "Saira", sans-serif;;
    }
     
     .Illustration-area1{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      /* margin-top: 200px; */
     
     }
     .Illustration-area1 img{
      width: 500px;
     }
     .Illustration-area2{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin-top: 200px;
     }
     .Illustration-area2 img{
      width: 700px;
     }
     .Illustration-area3{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin-top: 200px;
     }
     .Illustration-area3 img{
      width: 500px;
     }
     .animation-area p{
      font-size: 80px;
      font-weight: 30;
      color: #2d3436;
      margin-left: 150px;
      margin-top: 200px;
      font-family: "Saira", sans-serif;
     }
     h3{
      font-size: 50px;
      font-weight: 20;
      color: #2d3436;
      margin-left: 150px;
      font-family: "Zen Maru Gothic", sans-serif;
     }
     .animation-area1{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
     }
     .animation-area1 img{
      width: 500px;
     }
     .animation-area2{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin-top: 20px;
     }
     .animation-area2 img{
      width: 400px;
     }
     
     .animation-area3{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      align-items: flex-start;
     }
     .zassiimg{
      display: flex;
     
     
     }
     .animation-area3 img{
      width: 400px;
      margin-left: 50px;
      margin-right: 10px;
     }
     h4{
     margin-right: 90px;
     /* margin-left: 30px; */
     font-family: "Zen Maru Gothic", sans-serif;
     margin-bottom: 100px;
     }
     .雑誌{
      flex-flow: column;
      margin-left: 50px;
      
     }
     h5{
      font-size: 50px;
      font-weight: 20;
      color: #2d3436;
      margin-left: 150px;
      font-family: "Zen Maru Gothic", sans-serif;
     }
     .animation-area4{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
     }
     .animation-area4 img{
      width: 300px;
     }
     .animation-area5{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
     }
     .animation-area5 img{
      width: 300px;
      margin-top: 20px;
     }
     h6{
      font-size: 30px;
      font-weight: 30;
      color: #2d3436;
      margin-left: 100px;
      font-family: "Zen Maru Gothic", sans-serif;
     }
     .animation-area6{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
     }
     .animation-area6 img{
      width: 500px;
     }
     .animation-area7{
      display: flex;
    margin-left: 40px;
    justify-content: space-around;
      align-items: flex-start;
      
     }
     .animation-area7 img{
      width: 500px;
      margin-top: 20px;
      margin-right: 50px;
     }
    .video{
     margin-left: 40px;
      margin-top: 20px;
    }
    .dessin-area p{
      font-size: 80px;
      font-weight: 30;
      color: #2d3436;
      margin-left: 150px;
      margin-top: 200px;
      font-family: "Saira", sans-serif;
    }
    .dessin-area1{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .dessin-area1 img{
      width: 500px;
    }
    .dessin-area2{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .dessin-area2 img{
      width: 500px;
      margin-top: 70px;
    }
    .dessin-area3{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .dessin-area3 img{
      width: 500px;
      margin-top: 70px;
    }
    .CG-area p{
      font-size: 80px;
      font-weight: 30;
      color: #2d3436;
      margin-left: 150px;
      margin-top: 200px;
      font-family: "Saira", sans-serif;
    }
    .CG-area1{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

    }
    .CG-area1 img{
      width: 700px;
    }
    .CG-area2 img{
      width: 1000px;
      margin-top: 40px;
     }    
     .CG-area2{
      text-align: center;
     }
     .CG-area3{
      text-align: center;
     }
     .CG-area3 img{
      width: 1000px;
      margin-top: 40px;
     }
     .CG-area4{
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
     }
     .CG-area4 img{
      width: 600px;
     }
     .CG-area5{
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      margin-bottom: 30px;
     }
     .CG-area5 img{
      width: 600px;
     }
    .gotop{
      position: fixed;
      bottom: 10px;
      right: 20px;
    }
    .gotop a{
      width: 80px;
    height: 80px;
    display: inline-block;
    background-color: rgb(25, 178, 134);
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #2d3436;
    text-decoration: none;
    }
     footer{
  
      width: 100%;
      background-color: #2d3436;
  color: white;
 text-align: center;
margin-bottom: 0px;
}
/* モバイル対応する */
@media screen and (max-width: 480px) {
  header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white
  }
  header h1 {
    margin-left: 30px;
    font-size: 40px;
    margin-top: 70px;
}
.menu-item {
  list-style: none;
  display: inline-block;
 
  margin-left: 30px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}
ul{
  padding: 0;
 margin-left: 10px;

}
 
  h2{
    text-align: center;
      font-family: "Megrim", system-ui;
      font-size: 70px;
     font-weight: 800;
    }
 
.poster-area p{
  /* right: 40px; */
  font-size: 50px;
  font-weight: 30;
  color: #2d3436;
  margin-left: 30px;
  font-family: "Saira", sans-serif;
}
.poster-area1 img{
  width: 180px;
 }
 .poster-area2{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

 }
 .poster-area2 img{
  width: 180px;
 }
 .poster-area3{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

 }
 .poster-area3 img{
  width: 180px;
 }
 .poster-area3{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

 }
 .poster-area3 img{
  width: 180px;
 }
 .poster-area4{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
 align-items: flex-start;
 }
 .poster-area4 img{
  width: 180px;
 }
 .Illustration-area p{
  font-size: 50px;
  font-weight: 30;
  color: #2d3436;
  margin-left: 30px;
  margin-top: 70px;
  font-family: "Saira", sans-serif;;
}
.Illustration-area1{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-top: 200px; */
 
 }
 .Illustration-area1 img{
  width: 180px;
 }
 .Illustration-area2{
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 5px;
}
.Illustration-area2 img{
width: 350px;
margin: 5px;
}
.Illustration-area3{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 5px;
 }
 .Illustration-area3 img{
  width: 180px;
 }
 .animation-area p{
  font-size: 50px;
  font-weight: 30;
  color: #2d3436;
  margin-left: 30px;
  margin-top: 50px;
  font-family: "Saira", sans-serif;
 }
 h3{
  font-size: 30px;
  font-weight: 20;
  color: #2d3436;
  margin-left: 30px;
  font-family: "Zen Maru Gothic", sans-serif;
 }
 .animation-area1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
 }
 .animation-area1 img{
  width: 50%;
  padding: 5px;
 }
 .animation-area2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
 }
 .animation-area2 img{
  width: 50%;
  padding: 5px;
 }
 .animation-area3{
  flex-wrap: wrap;
  /* display: flex; */
  justify-content: space-around;
  margin-top: 30px;
  align-items: flex-start;
 }
 .animation-area3 img{
  margin-left: 5px;
  width: 180px;
  /* margin-right: 20px; */
 }
 .zassiimg{
  display: flex;
 
 }
 h4{
 /* margin-right: 90px; */

 font-family: "Zen Maru Gothic", sans-serif;
 margin-bottom: 10px;
 font-size: 10px;

 }
 .雑誌{
  flex-direction: column;
  margin: 0;
  padding: 20px;
 }
 iframe{
  width: 352px;
  height: 198px;
 }
 h5{
  font-size: 30px;
  font-weight: 20;
  color: #2d3436;
  margin-left: 30px;
  font-family: "Zen Maru Gothic", sans-serif;
 }
 .animation-area4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;

 }
 .animation-area4 img{
  width: 33%;
  padding: 2px;
 }
 .animation-area5{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
 }
 .animation-area5 img{
  width: 50%;
  margin-top: 20px;
  padding: 5px;
 }
 h6{
  font-size: 30px;
  font-weight: 30;
  color: #2d3436;
  margin-left: 30px;
  font-family: "Zen Maru Gothic", sans-serif;
 }
 .animation-area6{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  justify-content: space-around;
  align-items: flex-start;
 }
 .animation-area6 img{
  width: 350px;
  margin-top: 20px;
 }
 .animation-area7{
  display: flex;
  flex-wrap: wrap;
margin-left: 0px;
justify-content: space-around;
  align-items: flex-start;
  
 }
 .animation-area7 img{
  width: 350px;
  margin-top: 20px;
  margin-right: 0px;
 }
  .video{
    margin-left: 15px;
     margin-top: 10px;
   }
   video{
    width: 288px;
     height: 512px;
   }
   .dessin-area p{
    font-size: 50px;
    font-weight: 30;
    color: #2d3436;
    margin-left: 30px;
    margin-top: 50px;
    font-family: "Saira", sans-serif;
  }
  .dessin-area1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .dessin-area1 img{
    width: 360px;
   padding: 5px;
  }
  .dessin-area2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .dessin-area2 img{
    width:380px;
    margin-top: 20px;
  }
  .dessin-area3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
  }
  .dessin-area3 img{
    width: 360px;
    padding: 5px;
    margin: 0;
    
  }
  .CG-area p{
    font-size: 50px;
    font-weight: 30;
    color: #2d3436;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Saira", sans-serif;
  }
  .CG-area1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

  }
  .CG-area1 img{
    width: 380px;
    padding: 10px;
   
  }
  .CG-area2 img{
    width: 370px;
    margin-top: 25px;
   }    
   .CG-area2{
    text-align: center;
   }
   .CG-area3{
    text-align: center;
   }
   .CG-area3 img{
    width: 370px;
    margin-top: 25px;
   }
   .CG-area4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
   }
   .CG-area4 img{
    width: 350px;
    padding: 10px;
   }
   .CG-area5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 30px;
   }
   .CG-area5 img{
    width: 350px;
    padding: 10px;
   }
   .gotop{
    position: fixed;
    bottom: 10px;
    right: 20px;
  }
  .gotop a{
    width: 50px;
  height: 50px;
  display: inline-block;
  background-color: rgb(25, 178, 134);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #2d3436;
  text-decoration: none;
  font-family: "Zen Maru Gothic", sans-serif;
  }
}